body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-image: url("images/dust_scratches.png");
}

p {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 16px;
  color: #3A8D8A;
}

.spacer>img {
  width: 600px;
}

.mheader {
  height: 30px;
  width: 100%;
  background-color: #7CB3B3;
  text-align: right;
  z-index: 1;
  position: fixed;
}

hr {
  margin: 0 50px;
}

.min-header {
  text-align: right;
  margin-right: 10px;
  padding-top: 5px;
}

.center {
  text-align: center;
  margin: 0 auto;
}

.logo {
  height: 300px;
  position: relative;
  top: 40px;
}

.dot1 {
  height: 150px;
  width: 150px;
  border: 5px #7CB3B3 solid;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  overflow: hidden;
  left: -50px;
  animation: assemble1;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-delay: 2s;
}

.square1 {
  height: 70px;
  width: 70px;
  background-color: #7CB3B3;
  display: inline-block;
  position: relative;
  left: -60px;
  animation: assemble2;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 3s;
}

.square2 {
  height: 100px;
  width: 100px;
  background-color: white;
  z-index: -1;
  display: inline-block;
  position: relative;
  left: -115px;
  animation: assemble3;
  animation-duration: .5s;
  animation-fill-mode: forwards;
  animation-delay: 4s;
}

.txt-logo {
  color: #7CB3B3;
  font-family: 'Orbitron', sans-serif;
  font-size: 50px;
  position: relative;
  top: -20px;
  left: 0px;
  letter-spacing: 4px;
} 

.txt-logo-media {
  color: #7CB3B3;
  font-family: 'Orbitron', sans-serif;
  font-size: 80px;
  visibility: hidden;
  position: relative;
  letter-spacing: 4px;
  left: -33px;
  top: -130px;
}

.picTabContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
}

.pic>img {
  width: 600px;
}

.content {
  height: 1000px;
  display: grid;
  grid-template-columns: repeat(6, 200px);
  grid-gap: 3em;
  justify-content: center;
}

.content>div {
  justify-content: center;
  text-align: center;
  border: 4px black solid;
  padding-top: 30px;
  border-radius: 25%;
  height: 160px;
}

.content>div:hover {
  background-color: #A0BFC0;
}

.content:hover {
  color: white;
}

.icon{
  height: 80px;
  width: 80px;
}

.footer{
  justify-content: center;
  text-align: center;
}

@media (max-width: 850px) {
.mheader {
  visibility: hidden;
}
.txt-logo {
  visibility: hidden;
}
.txt-logo-media {
  visibility: visible;
  top: -170px;
}
.logo {
  top: 30px;
  left: 40px;
}
.content {
  grid-template-columns: 35%;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  position: relative;
  grid-gap: 300px;
  top: -500px;
}
.content>div {
  border: 0;
  width: 300px;
}

.content>div:hover {
  background-color: transparent;
}
.icon {
  height: 300px;
  width: 300px;
}
hr {
  visibility: hidden;
}
.picTabContainer {
  visibility: hidden;
}
}

@keyframes assemble1 {
  0% {left: -50px; top: 0px;}
  90% {left: 70px; top: 20px;}
  100% {left: 85px; top: 0px;}
}

@keyframes assemble2 {
  0% {left: -60px; top: 0px;}
  50% {left: 50px; top: -10px}
  100% {left: -32px; top: -42px}
}

@keyframes assemble3 {
  0% {left: -115px; top: 0px; transform: rotate(0deg);}
  100% {left: -122px; top: -30px; transform: rotate(225deg);}
}