/* //big items */
body {
  width: 100%;
  margin: 0;\
  padding: 0;
  background-color: white;
  overflow-x: hidden;
}

p, ul{
  font-family: 'IBM Plex Mono', monospace;
  font-size: 16px;
  color: black;
}

/* mini header */
.spacer>img {
  width: 600px;
}

.mheader {
  height: 30px;
  width: 100%;
  background-color: #7CB3B3;
  text-align: right;
  z-index: 1;
  position: fixed;
}

a {
  text-decoration: none;
}

hr {
  margin: 0 50px;
  border: 1px #336D5D solid;
}

.min-header {
  text-align: right;
  margin-right: 10px;
  padding-top: 5px;
}

.center {
  text-align: center;
  margin: 0 auto;
}

/* logo */
#contPop {
  z-index: 1;
  width: 300px;
  height: 100px;
  display: 
  position: relative;
  left: -800px;
}

.logo {
  height: 300px;
  position: relative;
  top: 40px;
  left: 3px;
}

.dot1 {
  height: 150px;
  width: 150px;
  border: 5px #7CB3B3 solid;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  overflow: hidden;
  left: -50px;
  animation: assemble1;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-delay: 2s;
}

.square1 {
  height: 70px;
  width: 70px;
  background-color: #7CB3B3;
  display: inline-block;
  position: relative;
  left: -60px;
  animation: assemble2;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 3.5s;
}

.square2 {
  height: 100px;
  width: 100px;
  background-color: #336D5D;
  z-index: -1;
  display: inline-block;
  position: relative;
  left: -77px;
  animation: assemble3;
  animation-timing-function: ease-out;
  animation-duration: 1.6s;
  animation-fill-mode: forwards;
  animation-delay: 4.5s;
}

.txt-logo {
  color: #7CB3B3;
  font-family: 'Orbitron', sans-serif;
  font-size: 50px;
  position: relative;
  top: -20px;
  left: 0px;
  letter-spacing: 4px;
} 

.txt-logo-media {
  color: #7CB3B3;
  font-family: 'Orbitron', sans-serif;
  font-size: 80px;
  visibility: hidden;
  position: relative;
  letter-spacing: 4px;
  left: -33px;
  top: -130px;
}

.em, .dee {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 210px;
  font-style: bold;
}

.em {
  color: #7CB3B3;
  position: relative;
  left: 70px;
  bottom: 8px;
  animation-name: logo1;
  animation-fill-mode: forwards;
  animation-duration: 6s;
}

.dee {
  color: #336D5D;
  position: relative;
  bottom: 8px;
  left: -81px;
  animation-name: logo2;
  animation-fill-mode: forwards;
  animation-duration: 7s;
}

/* about me picture and table */

.picTabContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-evenly;
  text-align: center;
}

.pic>img {
  width: 600px;
  height: 400px;
  margin: 10px;
}

.pic>div {
  width: 600px;
  height: 400px;
  margin: 10px;
}
/* icons with events*/

.content {
  height: 200px;
  display: grid;
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: 100px 500px;
  grid-gap: 1em;
  justify-content: center;
  position: relative;
  left: 25px;
  margin-bottom: 10px;
}

.content>div {
  justify-content: center;
  text-align: center;
  border: 2px #0E3E31 solid;
  padding-top: 30px;
  border-radius: 25%;
  width: 150px;
  height: 120px;
  cursor: pointer;
}
.content>div:nth-child(1) {
  border: ;
}

#prompt {
  position: relative;
  bottom: 24px;
  font-size: 22px;
  border: 0;
}

.content>div:hover {
  background-color: rgba(190,207,208,0.5);
}

.icon{
  height: 50px;
  width: 50px;
}

#uniqBox {
  grid-column-start: 1;
  grid-column-end: 4;
  width: 600px;
  height: 50px;
  border: 0;
  position: relative;
  left: -7px;
}

#uniqBox:hover {
  background-color: transparent;
  cursor: default;
}

/* modal ONE */

.modal {
  display: none;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, .4);
}

.modalHeader {
  justify-content: center;
  text-align: center;
  font-family: 'IBM Plex Mono', monospace;
  background-color: #193D40;
  padding: 5px;
  color: white;
  border-radius: 10px 10px 0 0;
  font-size: 30px;
}

.modalBody {
  padding: 10px 10px;
  text-align: justify;
}

.modalFooter {
  font-family: 'IBM Plex Mono', monospace;
  background: #596D6F;
  padding: 10px;
  color: white;
  text-align: center;
  position: relative;
}

.modal-content {
  background-image: url("images/dust_scratches.png");
  margin: 10% auto;
  width: 70%;
  box-shadow: 0 5px 8px 0 rgba(0,0,0,0.3), 0 7px 20px 0 rgba(0,0,0,0.3);
  animation-name: modalopen;
  animation-duration: 2s;
  border-radius: 10px 10px 0 0;
}

.closeBtn {
  position: relative;
  top: -9px;
  height: 30px;
  width: 30px;
  color: white;
  float: right;
  font-size: 30px;
  cursor: pointer;
  border-radius: 50%;
}

.closeBtn:hover {
  color: black;
}

.imgContainMod {
  display: flex;
}
.imgContainMod>img {
  width: 100%;
  height: 100%;
}

/* modal TWO */

.modal2 {
  display: none;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, .4);
}

.modalHeader2 {
  justify-content: center;
  text-align: center;
  font-family: 'IBM Plex Mono', monospace;
  background-color: #193D40;
  padding: 5px;
  color: white;
  border-radius: 10px 10px 0 0;
  font-size: 30px;
}

.modalBody2 {
  padding: 10px 10px;
  text-align: justify;
}

.modalFooter2 {
  font-family: 'IBM Plex Mono', monospace;
  background: #596D6F;
  padding: 10px;
  color: white;
  text-align: center;
  position: relative;
}

.modal-content2 {
  background-image: url("images/dust_scratches.png");
  margin: 10% auto;
  width: 70%;
  box-shadow: 0 5px 8px 0 rgba(0,0,0,0.3), 0 7px 20px 0 rgba(0,0,0,0.3);
  animation-name: modalopen;
  animation-duration: 1s;
  border-radius: 10px 10px 0 0;
}

.closeBtn2 {
  position: relative;
  top: -9px;
  height: 30px;
  width: 30px;
  color: white;
  float: right;
  font-size: 30px;
  cursor: pointer;
  border-radius: 50%;
}

.closeBtn2:hover {
  color: black;
}

.imgContainMod2 {
  display: flex;
}
.imgContainMod2>img {
  width: 100%;
  height: 100%;
}

/* modal Three */

.modal3 {
  display: none;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, .4);
}

.modalHeader3 {
  justify-content: center;
  text-align: center;
  font-family: 'IBM Plex Mono', monospace;
  background-color: #193D40;
  padding: 5px;
  color: white;
  border-radius: 10px 10px 0 0;
  font-size: 30px;
}

.modalBody3 {
  padding: 10px 10px;
  text-align: justify;
}

.modalFooter3 {
  font-family: 'IBM Plex Mono', monospace;
  background: #596D6F;
  padding: 10px;
  color: white;
  text-align: center;
  position: relative;
}

.modal-content3 {
  background-image: url("images/dust_scratches.png");
  margin: 10% auto;
  width: 70%;
  box-shadow: 0 5px 8px 0 rgba(0,0,0,0.3), 0 7px 20px 0 rgba(0,0,0,0.3);
  animation-name: modalopen;
  animation-duration: 1s;
  border-radius: 10px 10px 0 0;
}

.closeBtn3 {
  position: relative;
  top: -9px;
  height: 30px;
  width: 30px;
  color: white;
  float: right;
  font-size: 30px;
  cursor: pointer;
  border-radius: 50%;
}

.closeBtn3:hover {
  color: black;
}

.imgContainMod3 {
  display: flex;
}
.imgContainMod3>img {
  width: 100%;
  height: 100%;
}



/* footer */

#footCont{
  display: flex;
  flex-flow: row;
  bottom: 0;
  right: 0;
  left: 0;
  height: 400px;
  text-align: center;
  background-color: #7CB3B3;
}
h2 {
  color: white;
  font-family: 'IBM Plex Mono', monospace;
  padding-top: 13px;
  padding-left: 30px;
  font-size: 20px;
}

ul {
  font-size: 15px;
  margin: 0;
  padding: 0;
}

li {
  border-right: 1px black solid;
  padding-left: 30px;
}

li:hover {
  font-size: 14px;
  background-color: black;
  color: white;
}

.foot1,
.foot3 {
  width: 33%;
  justify-content: center;
  text-align: left;
}

.foot2 {
  justify-content: center;
  text-align: left;
  width: 34%;
}

.locRepo {
  position: relative;
  top: 37px;
}
/*


MEDIA Q


*/
@media (max-width: 750px) {
.mheader {
  visibility: hidden;
}

.txt-logo {
  visibility: hidden;
}

.txt-logo-media {
  visibility: visible;
  top: -170px;
  left: 0px;
}

.logo {
  top: 30px;
  left: 0px;
}

.content {
  grid-template-columns: 48%;
  grid-template-rows: 1fr 1fr 1fr;
  position: relative;
  grid-gap: 400px;
  top: 100px;
}

.content>div {
  border: 0;
  width: 300px;
}

.content>div:hover {
  background-color: transparent;
}

.icon {
  height: 300px;
  width: 300px;
}

hr {
  visibility: hidden;
}

.picTabContainer {
  visibility: hidden;
}

#footCont {
  display: none;
}

#uniqBox {
  display: none;
}

p {
  font-size: 50px;
}

.modalBody>p,
.modalBody2>p,
.modalBody3>p,
.modalFooter>p,
.modalFooter2>p,
.modalFooter3>p{
  font-size: 24px;
}
}

@media (min-width: 1600px) {
.pic>img {
  width: 800px;
  height: 510px;
}
.pic>div {
  width: 800px;
  height: 510px;
}
}

/*


ANIMATION


*/
@keyframes assemble1 {
  0% {left: -50px; top: 0px;}
  90% {left: 70px; top: 20px;}
  100% {left: 85px; top: 0px;}
}

@keyframes assemble2 {
  0% {left: -60px; top: 0px; transform: rotate(0deg);}
  50% {left: 50px; top: -10px; transform: rotate(90deg);}
  100% {left: -34px; top: -42px; transform: rotate(180deg);}
}

@keyframes assemble3 {
  0% {left: -74px; top: 0px; transform: rotate(0deg);}
  100% {left: -122px; top: -30px; transform: rotate(225deg);}
}

@keyframes modalopen {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes logo1 {
  0% {opacity: 0;}
  75% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes logo2 {
  0% {opacity: 0;}
  75% {opacity: 0;}
  100% {opacity: 1;}
}