body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-image: url("images/dust_scratches.png");
}

p {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 16px;
  color: #3A8D8A;
}

.spacer>img {
  width: 600px;
}

.mheader {
  height: 30px;
  width: 100%;
  background-color: #7CB3B3;
  text-align: right;
  z-index: 1;
  position: fixed;
}

hr {
  margin: 0 50px;
}
.min-header {
  text-align: right;
  margin-right: 10px;
  padding-top: 5px;
}

.center {
  text-align: center;
  margin: 0 auto;
}

.logo {
  height: 300px;
  position: relative;
  top: 40px;
}

.dot1 {
  height: 150px;
  width: 150px;
  border: 5px #7CB3B3 solid;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  overflow: hidden;
  left: 20px;
}

.dot2 {
  height: 75px;
  width: 75px;
  background-color: #7CB3B3;
  display: inline-block;
  position: relative;
  left: -60px;
}

.dot3 {
  height: 100px;
  width: 100px;
  background-color: white;
  z-index: -1;
  display: inline-block;
  position: relative;
  left: -115px;
}

.txt-logo {
  color: #7CB3B3;
  font-family: 'Orbitron', sans-serif;
  font-size: 50px;
  position: relative;
  top: -10px;
  left: 0px;
  letter-spacing: 4px;
} 

.txt-logo-media {
  color: #7CB3B3;
  font-family: 'Orbitron', sans-serif;
  font-size: 80px;
  visibility: hidden;
  position: relative;
  letter-spacing: 4px;
  left: -33px;
  top: -130px;
} 

.content {
  height: 1000px;
  display: grid;
  grid-template-columns: 200px 200px 200px;
  grid-template-rows: 200px 200px 200px;
  grid-gap: 3em;
  justify-content: center;
}

.content>div {
  justify-content: center;
  text-align: center;
}

.icon{
  height: 80px;
  width: 80px;
}

.footer{
  justify-content: center;
  text-align: center;
}

@media (max-width: 850px) {
.mheader {
  visibility: hidden;
}
.txt-logo {
  visibility: hidden;
}
.txt-logo-media {
  visibility: visible;
  top: -170px;
}
.logo {
  top: 30px;
  left: 40px;
}
.content {
  grid-template-columns: 35%;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  position: relative;
  grid-gap: 3em;
}
.content > div {
  width: 300px;
}
.icon {
  height: 300px;
  width: 300px;
}
}

